---
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl } from "../../i18n/utils";

export async function getStaticPaths() {
  return [
    { params: { locale: 'en' } },
    { params: { locale: 'cy' } },
  ];
}

const lang = getLangFromUrl(Astro.url);
---
<Layout locale={lang} >
  <section class="container mx-auto h-full py-24 min-h-[80vh]" id="intro">
    <h1 class="colour-special text-2xl mb-4">Croeso &bull; Welcome</h1>
    <p class="mb-4">dewiswch eich iaith &bull; Choose your language:</p>
    <a class="btn btn-primary m-2" href={`/cy/`}>Hafan - Cymraeg</a>
    <a class="btn btn-primary m-2" href={`/`}>Home - English</a>
  </section>
</Layout>