---
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "cy" } }];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  pageUrl={`sitemap`}
  pageTitle="Sitemap"
  pageDescription="A list of all our pages"
  locale={lang}
>
  <div class="container">
    <h1 class="colour-special">{t("Site Map")}</h1>
    <p>
      Here is a list of all pages on <a href="https://rhedyn.cymru"
        >rhedyn.cymru</a>
    </p>
    <h2>{t("Primary Pages")}:</h2>
    <ul>
      <li><a href="/">Home (English)</a></li>
      <li><a href="/cy/">Hafod (Cymraeg)</a></li>
      <li><a href="/en/sitemap/">Site map</a></li>
      <li><a href="/cy/sitemap/">Map o'r wefan</a></li>
    </ul>
    <h2>{t("Other Pages")}:</h2>
    
  </div>
</Layout>
