---
import PageLayout from "../../layouts/PageLayout.astro";
import { getLangFromUrl } from "../../i18n/utils";
import Cart from "../../components/react/Cart";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "cy" } }];
}

const lang = getLangFromUrl(Astro.url);
---
<PageLayout
  pageTitle="Your cart"
  pageDescription="View the items currently in your cart"
  pageUrl="your-cart"
>
  <div id="content" class="mb-6">
    <Cart client:only="react" locale={lang} />
  </div>
</PageLayout>
