@import "tailwindcss";
 @plugin "daisyui" {
  themes: caramellatte --default, coffee;
 }
 @plugin "daisyui/theme" {
  name: "caramellatte";
  default: true;
  --color-secondary: #da924e;
  }
  @plugin "daisyui/theme" {
  name: "coffee";
  default: false;
  --color-secondary: #db924d;
  }


@font-face {
  font-family: "TitanOne";
  src: url("/TitanOne-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
.font-special {
  font-family: "TitanOne", sans-serif;
}

.hovertext {
  @apply hover:text-white transition-colors duration-300
}

* {
  transition: background-color 0.2s ease, color 0.2s ease;
}