@import "tailwindcss";
 @plugin "daisyui" {
   themes: coffee --default;
 }


@font-face {
  font-family: "TitanOne";
  src: url("/TitanOne-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3.
.font-special {
  font-family: "TitanOne", sans-serif;
}

.hovertext {
  @apply hover:text-white transition-colors duration-300
}

.lang-cymru {
  @apply btn-sm lg:btn rounded-l rounded-r-none active:translate-0 flex items-center hover:bg-primary hover:text-neutral xl:border-primary xl:border xl:border-r-0
}

.lang-english {
  @apply btn-sm lg:btn rounded-r rounded-l-none active:translate-0 flex items-center hover:bg-primary hover:text-neutral xl:border-primary xl:border xl:border-l-0
}