@import "tailwindcss";
 @plugin "daisyui" {
   themes: coffee --default;
 }


@font-face {
  font-family: "TitanOne";
  src: url("/TitanOne-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3.
.font-special {
  font-family: "TitanOne", sans-serif;
}

.hovertext {
  @apply hover:text-white transition-colors duration-300
}