---
import Layout from "../layouts/Layout.astro";
import logoHiRes from "../assets/logo.png";

const lang = "en";
---
<Layout locale={lang}>
  <section class="container" id="intro">
    <logoHiRes />
  </section>
</Layout>
