---
import Layout from "../layouts/Layout.astro";
import { executeQuery } from "@datocms/cda-client";
const lang = "en";

const query = `
  query HomeQuery {
    blogPost { title }
  }
`;

const data = await executeQuery(
  query,
  {
     token: import.meta.env.DATOCMS_CDA_TOKEN,
  }
);
---
<Layout locale={lang}>
  <section class="container" id="intro">
    {JSON.stringify(data)}
  </section>
</Layout>
  