---
import Layout from "../layouts/Layout.astro";
import connector from "../components/datocms/connector"

const pagesData = await connector("fetchAllPages");
const homePageContent = await connector("fetchHomePage");

const lang = 'en'
---
<Layout locale={lang}>
  <section class="container" id="intro">
    {pagesData.allPages.length && (
        <section>
          <h2>Pages:</h2>
          {pagesData.allPages.map(page => (
            <article>
              <h4><a href={page.slug}>{page.title}</a></h4>
            </article>
          ))}
        </section>
    )}
  </section>
</Layout>
  