---
import Layout from "../layouts/Layout.astro";
import connector from "../components/datocms/connector"

const pagesData = await connector("fetchAllPages");
const homePageContent = await connector("fetchHomePage");

const lang = 'en'
---
<Layout locale={lang}>
  <section class="container" id="intro">
    {JSON.stringify(homePageContent.homepage)}
  </section>
</Layout>
  