---
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl } from "../../i18n/utils"


export async function getStaticPaths() {
  return [
    { params: { locale: 'en' } },
    { params: { locale: 'cy' } },
  ];
}
const lang = getLangFromUrl(Astro.url);

---
<Layout 
  locale={lang}
  pageUrl={`/${lang}/`}
  pageDescription="Rydyn ni creu atebion meddalwedd wedi eu teilwra, a gwella diogelwch gwefannau."
  pageTitle="Hafan"
>
  <section class="container" id="intro">
    Hafan
  </section>
</Layout>
