---
const { product, price, classes = "" } = Astro.props;

const allClasses = `btn btn-primary ${classes}`.trim();
---
<button data-cart-button data-product={JSON.stringify(product)} data-price={price} class={allClasses}>Add to Cart</button>
