---
const { product, price, classes = "" } = Astro.props;

const allClasses = `btn btn-secondary text-primary-content ${classes}`.trim();

const productWithQuantity = {
  ...product,
  quantity: 1
}
---
<button data-cart-button data-product={JSON.stringify(productWithQuantity)} data-price={price} class={allClasses}>Add to Cart</button>
