<form class="justify-self-center w-full max-w-xs">
<h6 class="footer-title">Get in touch / Enquire</h6>
    <input type="text" placeholder="Your name" class="input input-bordered w-full mb-2" required />
    <input type="text" placeholder="Company name" class="input input-bordered w-full mb-2" required />
    <input type="email" placeholder="Email" class="input input-bordered w-full mb-2" required />
    <input type="tel" placeholder="Phone number (optional)" class="input input-bordered w-full mb-2" />
    <textarea placeholder="Your message" class="textarea textarea-bordered w-full mb-2" required></textarea>
    <button class="btn btn-primary w-full">Submit</button>
</form>