<div class="my-auto mr-4 hidden lg:block">
  <label class="flex cursor-pointer gap-2">
    <input type="checkbox" id="theme-toggle" class="toggle toggle-warning text-secondary" />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      class="text-secondary"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
    </svg>
  </label>
</div>

<script>
  const toggle = document.getElementById("theme-toggle");

  const savedTheme = localStorage.getItem("theme") || "caramellatte";
  document.documentElement.setAttribute("data-theme", savedTheme);
  toggle.checked = savedTheme === "coffee";

  toggle.addEventListener("change", () => {
    const theme = toggle.checked ? "coffee" : "caramellatte";
    document.documentElement.setAttribute("data-theme", theme);
    localStorage.setItem("theme", theme);
  });
</script>